.scan {
  opacity: 0.5;
  transition: opacity 0.1s linear;
}

.screen {
  background: #0d0d0d;
  border-radius: 1.44vh;
  position: relative;
  height: 85%;
  overflow: hidden;
  overflow-y: scroll;
  pointer-events: none;

  * {
    font-size: 1.65vh;
  }

  &.off {
    .scan,
    ul {
      opacity: 0;
    }
  }

  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  ul {
    padding: 8%;
    display: flex;
    flex-direction: column;
    list-style: none;

    li {
      background: transparent;

      &.selected {
        background-color: #00ff00;
        color: black;
      }

      button {
        pointer-events: none;
        color: inherit;
        background: inherit;
        border: none;
        padding: none;
      }
    }
  }
}
