<svg class="tv" viewBox="0 0 1516 969" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_7_2" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1516" height="969">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1516 0H0V969H1516V0ZM998.236 108.075C952.736 97.0449 254.236 97.5751 197.236 108.075C140.236 118.575 129.236 131.575 119.236 176.075C109.236 220.575 113.77 722.075 121.736 755.075C129.701 788.075 139.236 812.575 186.736 818.075C234.236 823.575 981.736 826.075 1027.24 808.075C1068.6 791.71 1070.71 775.344 1073 757.475C1073.23 755.69 1073.46 753.891 1073.74 752.075C1076.74 732.075 1073.24 209.575 1069.24 173.075C1065.24 136.575 1043.74 119.105 998.236 108.075Z"
      fill="#C4C4C4"
    />
  </mask>
  <g mask="url(#mask0_7_2)">
    <rect y="13" width="1505" height="936" rx="31" fill="#23252E" />
    <g filter="url(#filter0_iiii_7_2)">
      <rect width="1516" height="969" rx="15" fill="#CED7D6" />
    </g>
    <rect x="24" y="21" width="1468" height="907" rx="30" fill="#202226" />
    <rect x="37" y="31" width="1441" height="873" rx="17" fill="#AAADBD" />
    <rect x="45" y="39" width="1425" height="857" rx="9" fill="#686963" />
    <g clip-path="url(#clip0_7_2)">
      <rect x="65" y="56" width="1058" height="811" rx="21" fill="white" />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M82.5 56C73.1112 56 65.5 63.6111 65.5 73V850C65.5 859.389 73.1111 867 82.5 867H1105.5C1114.89 867 1122.5 859.389 1122.5 850V73C1122.5 63.6112 1114.89 56 1105.5 56H82.5ZM998.236 108.075C952.736 97.0449 254.236 97.5751 197.236 108.075C140.236 118.575 129.236 131.575 119.236 176.075C109.236 220.575 113.77 722.075 121.736 755.075C129.701 788.075 139.236 812.575 186.736 818.075C234.236 823.575 981.736 826.075 1027.24 808.075C1068.6 791.71 1070.71 775.344 1073 757.475C1073.23 755.69 1073.46 753.891 1073.74 752.075C1076.74 732.075 1073.24 209.575 1069.24 173.075C1065.24 136.575 1043.74 119.105 998.236 108.075Z"
        fill="#C4C4C4"
      />
      <mask id="mask1_7_2" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="65" y="56" width="1058" height="811">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M82.5 56C73.1112 56 65.5 63.6111 65.5 73V850C65.5 859.389 73.1111 867 82.5 867H1105.5C1114.89 867 1122.5 859.389 1122.5 850V73C1122.5 63.6112 1114.89 56 1105.5 56H82.5ZM998.236 108.075C952.736 97.0449 254.236 97.5751 197.236 108.075C140.236 118.575 129.236 131.575 119.236 176.075C109.236 220.575 113.77 722.075 121.736 755.075C129.701 788.075 139.236 812.575 186.736 818.075C234.236 823.575 981.736 826.075 1027.24 808.075C1068.6 791.71 1070.71 775.344 1073 757.475C1073.23 755.69 1073.46 753.891 1073.74 752.075C1076.74 732.075 1073.24 209.575 1069.24 173.075C1065.24 136.575 1043.74 119.105 998.236 108.075Z"
          fill="#C4C4C4"
        />
      </mask>
      <g mask="url(#mask1_7_2)">
        <g filter="url(#filter1_f_7_2)">
          <path d="M43 34H1144.5L1045 143H155.5L43 34Z" fill="black" fill-opacity="0.68" />
        </g>
        <g filter="url(#filter2_f_7_2)">
          <path d="M43 901H1144.5L1045 792H155.5L43 901Z" fill="black" fill-opacity="0.21" />
        </g>
        <g filter="url(#filter3_df_7_2)">
          <path d="M54.5 56L153.793 155.293" stroke="white" stroke-opacity="0.86" stroke-width="6" stroke-linecap="round" shape-rendering="crispEdges" />
        </g>
        <g filter="url(#filter4_df_7_2)">
          <path d="M1129.79 64L1030.5 163.293" stroke="white" stroke-width="9" stroke-linecap="round" />
        </g>
        <g filter="url(#filter5_f_7_2)">
          <ellipse cx="1104.5" cy="348" rx="89.5" ry="152" fill="white" fill-opacity="0.83" />
        </g>
        <g opacity="0.52" filter="url(#filter6_df_7_2)">
          <path d="M987 799L1139 876" stroke="black" stroke-opacity="0.86" stroke-width="21" stroke-linecap="round" shape-rendering="crispEdges" />
        </g>
        <g filter="url(#filter7_df_7_2)">
          <path d="M1140.29 881.293L1041 782" stroke="white" stroke-width="5" stroke-linecap="round" />
        </g>
        <g opacity="0.34" filter="url(#filter8_df_7_2)">
          <path d="M196.293 810L44.2927 887" stroke="black" stroke-opacity="0.86" stroke-width="21" stroke-linecap="round" shape-rendering="crispEdges" />
        </g>
        <g opacity="0.86" filter="url(#filter9_df_7_2)">
          <path d="M43 892.293L142.293 793" stroke="white" stroke-width="5" stroke-linecap="round" />
        </g>
      </g>
    </g>
  </g>
  <defs>
    <filter id="filter0_iiii_7_2" x="-20" y="-6" width="1555" height="987" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dy="-6" />
      <feGaussianBlur stdDeviation="12.5" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0" />
      <feBlend mode="normal" in2="shape" result="effect1_innerShadow_7_2" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dy="12" />
      <feGaussianBlur stdDeviation="12.5" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0" />
      <feBlend mode="normal" in2="effect1_innerShadow_7_2" result="effect2_innerShadow_7_2" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dx="19" />
      <feGaussianBlur stdDeviation="12.5" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.15 0" />
      <feBlend mode="normal" in2="effect2_innerShadow_7_2" result="effect3_innerShadow_7_2" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dx="-20" dy="4" />
      <feGaussianBlur stdDeviation="12.5" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.15 0" />
      <feBlend mode="normal" in2="effect3_innerShadow_7_2" result="effect4_innerShadow_7_2" />
    </filter>
    <filter id="filter1_f_7_2" x="15" y="6" width="1157.5" height="165" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="14" result="effect1_foregroundBlur_7_2" />
    </filter>
    <filter id="filter2_f_7_2" x="15" y="764" width="1157.5" height="165" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="14" result="effect1_foregroundBlur_7_2" />
    </filter>
    <filter id="filter3_df_7_2" x="-2.5" y="28" width="191.293" height="191.293" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dx="-11" dy="18" />
      <feGaussianBlur stdDeviation="21.5" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" />
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_7_2" />
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_7_2" result="shape" />
      <feGaussianBlur stdDeviation="7.5" result="effect2_foregroundBlur_7_2" />
    </filter>
    <filter id="filter4_df_7_2" x="964" y="26.5" width="210.292" height="210.293" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dx="-11" dy="18" />
      <feGaussianBlur stdDeviation="25.5" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" />
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_7_2" />
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_7_2" result="shape" />
      <feGaussianBlur stdDeviation="8" result="effect2_foregroundBlur_7_2" />
    </filter>
    <filter id="filter5_f_7_2" x="889" y="70" width="431" height="556" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="63" result="effect1_foregroundBlur_7_2" />
    </filter>
    <filter id="filter6_df_7_2" x="946.498" y="758.498" width="233.005" height="167.005" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dy="33" />
      <feGaussianBlur stdDeviation="3" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.53 0" />
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_7_2" />
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_7_2" result="shape" />
      <feGaussianBlur stdDeviation="15" result="effect2_foregroundBlur_7_2" />
    </filter>
    <filter id="filter7_df_7_2" x="988.5" y="708.5" width="182.293" height="183.293" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dx="-11" dy="-32" />
      <feGaussianBlur stdDeviation="19.5" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" />
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_7_2" />
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_7_2" result="shape" />
      <feGaussianBlur stdDeviation="4" result="effect2_foregroundBlur_7_2" />
    </filter>
    <filter id="filter8_df_7_2" x="3.79053" y="769.498" width="233.004" height="167.005" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dy="33" />
      <feGaussianBlur stdDeviation="3" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.53 0" />
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_7_2" />
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_7_2" result="shape" />
      <feGaussianBlur stdDeviation="15" result="effect2_foregroundBlur_7_2" />
    </filter>
    <filter id="filter9_df_7_2" x="-9.5" y="719.5" width="182.293" height="183.293" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dx="-11" dy="-32" />
      <feGaussianBlur stdDeviation="19.5" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" />
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_7_2" />
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_7_2" result="shape" />
      <feGaussianBlur stdDeviation="4" result="effect2_foregroundBlur_7_2" />
    </filter>
    <clipPath id="clip0_7_2">
      <rect x="65" y="56" width="1058" height="811" rx="21" fill="white" />
    </clipPath>
  </defs>
</svg>
