<svg class="tv" viewBox="0 0 1516 969" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_228_111" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1516" height="969">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1516 0H0V969H1516V0ZM998.236 108.075C952.736 97.0449 254.236 97.5751 197.236 108.075C140.236 118.575 129.236 131.575 119.236 176.075C109.236 220.575 113.77 722.075 121.736 755.075C129.701 788.075 139.236 812.575 186.736 818.075C234.236 823.575 981.736 826.075 1027.24 808.075C1068.6 791.71 1070.71 775.344 1073 757.475C1073.23 755.69 1073.46 753.891 1073.74 752.075C1076.74 732.075 1073.24 209.575 1069.24 173.075C1065.24 136.575 1043.74 119.105 998.236 108.075Z"
      fill="#C4C4C4"
    />
  </mask>
  <g mask="url(#mask0_228_111)">
    <path
      d="M1474 13H31C13.8792 13 0 26.8792 0 44V918C0 935.121 13.8792 949 31 949H1474C1491.12 949 1505 935.121 1505 918V44C1505 26.8792 1491.12 13 1474 13Z"
      fill="#23252E"
    />
    <g filter="url(#filter0_iiii_228_111)">
      <path
        d="M1501 0H15C6.71573 0 0 6.71573 0 15V954C0 962.284 6.71573 969 15 969H1501C1509.28 969 1516 962.284 1516 954V15C1516 6.71573 1509.28 0 1501 0Z"
        fill="#A8B0AF"
      />
    </g>
    <path
      d="M1462 21H54C37.4315 21 24 34.4315 24 51V898C24 914.569 37.4315 928 54 928H1462C1478.57 928 1492 914.569 1492 898V51C1492 34.4315 1478.57 21 1462 21Z"
      fill="#202226"
    />
    <path
      d="M1461 31H54C44.6112 31 37 38.6112 37 48V887C37 896.389 44.6112 904 54 904H1461C1470.39 904 1478 896.389 1478 887V48C1478 38.6112 1470.39 31 1461 31Z"
      fill="#7A7B82"
    />
    <path
      d="M1461 39H54C49.0294 39 45 43.0294 45 48V887C45 891.971 49.0294 896 54 896H1461C1465.97 896 1470 891.971 1470 887V48C1470 43.0294 1465.97 39 1461 39Z"
      fill="#51524E"
    />
    <path
      d="M1102 56H86C74.402 56 65 65.402 65 77V846C65 857.598 74.402 867 86 867H1102C1113.6 867 1123 857.598 1123 846V77C1123 65.402 1113.6 56 1102 56Z"
      fill="#E8E8E8"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M82.5 56C73.1112 56 65.5 63.6111 65.5 73V850C65.5 859.389 73.1111 867 82.5 867H1105.5C1114.89 867 1122.5 859.389 1122.5 850V73C1122.5 63.6112 1114.89 56 1105.5 56H82.5ZM998.236 108.075C952.736 97.0449 254.236 97.5751 197.236 108.075C140.236 118.575 129.236 131.575 119.236 176.075C109.236 220.575 113.77 722.075 121.736 755.075C129.701 788.075 139.236 812.575 186.736 818.075C234.236 823.575 981.736 826.075 1027.24 808.075C1068.6 791.71 1070.71 775.344 1073 757.475C1073.23 755.69 1073.46 753.891 1073.74 752.075C1076.74 732.075 1073.24 209.575 1069.24 173.075C1065.24 136.575 1043.74 119.105 998.236 108.075Z"
      fill="#A6A6A6"
    />
    <mask id="mask1_228_111" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="65" y="56" width="1058" height="811">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M82.5 56C73.1112 56 65.5 63.6111 65.5 73V850C65.5 859.389 73.1111 867 82.5 867H1105.5C1114.89 867 1122.5 859.389 1122.5 850V73C1122.5 63.6112 1114.89 56 1105.5 56H82.5ZM998.236 108.075C952.736 97.0449 254.236 97.5751 197.236 108.075C140.236 118.575 129.236 131.575 119.236 176.075C109.236 220.575 113.77 722.075 121.736 755.075C129.701 788.075 139.236 812.575 186.736 818.075C234.236 823.575 981.736 826.075 1027.24 808.075C1068.6 791.71 1070.71 775.344 1073 757.475C1073.23 755.69 1073.46 753.891 1073.74 752.075C1076.74 732.075 1073.24 209.575 1069.24 173.075C1065.24 136.575 1043.74 119.105 998.236 108.075Z"
        fill="#C8C8C8"
      />
    </mask>
    <g mask="url(#mask1_228_111)">
      <g filter="url(#filter1_f_228_111)">
        <path d="M43 34H1144.5L1045 143H155.5L43 34Z" fill="black" fill-opacity="0.68" />
      </g>
      <g filter="url(#filter2_f_228_111)">
        <path d="M43 901H1144.5L1045 792H155.5L43 901Z" fill="black" fill-opacity="0.21" />
      </g>
      <g filter="url(#filter3_if_228_111)">
        <path d="M54.5 56L153.793 155.293" stroke="#F2F2F2" stroke-opacity="0.86" stroke-width="6" stroke-linecap="round" />
      </g>
      <g filter="url(#filter4_if_228_111)">
        <path d="M1129.79 64L1030.5 163.293" stroke="#E8E8E8" stroke-width="9" stroke-linecap="round" />
      </g>
      <g filter="url(#filter5_f_228_111)">
        <path
          d="M1104.5 500C1153.93 500 1194 431.947 1194 348C1194 264.053 1153.93 196 1104.5 196C1055.07 196 1015 264.053 1015 348C1015 431.947 1055.07 500 1104.5 500Z"
          fill="#8C8C8C"
          fill-opacity="0.86"
        />
      </g>
      <g opacity="0.52" filter="url(#filter6_if_228_111)">
        <path opacity="0.52" d="M987 799L1139 876" stroke="black" stroke-opacity="0.86" stroke-width="21" stroke-linecap="round" />
      </g>
      <g filter="url(#filter7_df_228_111)">
        <path d="M1140.29 881.293L1041 782" stroke="#E8E8E8" stroke-width="5" stroke-linecap="round" />
      </g>
      <g opacity="0.34" filter="url(#filter8_if_228_111)">
        <path opacity="0.34" d="M196.293 810L44.2925 887" stroke="black" stroke-opacity="0.86" stroke-width="21" stroke-linecap="round" />
      </g>
      <g opacity="0.86" filter="url(#filter9_df_228_111)">
        <path opacity="0.86" d="M43 892.293L142.293 793" stroke="#E8E8E8" stroke-width="5" stroke-linecap="round" />
      </g>
    </g>
  </g>
  <defs>
    <filter id="filter0_iiii_228_111" x="-20" y="-6" width="1555" height="987" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dy="-6" />
      <feGaussianBlur stdDeviation="12.5" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0" />
      <feBlend mode="normal" in2="shape" result="effect1_innerShadow_228_111" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dy="12" />
      <feGaussianBlur stdDeviation="12.5" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0" />
      <feBlend mode="normal" in2="effect1_innerShadow_228_111" result="effect2_innerShadow_228_111" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dx="19" />
      <feGaussianBlur stdDeviation="12.5" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.15 0" />
      <feBlend mode="normal" in2="effect2_innerShadow_228_111" result="effect3_innerShadow_228_111" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dx="-20" dy="4" />
      <feGaussianBlur stdDeviation="12.5" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.15 0" />
      <feBlend mode="normal" in2="effect3_innerShadow_228_111" result="effect4_innerShadow_228_111" />
    </filter>
    <filter id="filter1_f_228_111" x="15" y="6" width="1157.5" height="165" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="14" result="effect1_foregroundBlur_228_111" />
    </filter>
    <filter id="filter2_f_228_111" x="15" y="764" width="1157.5" height="165" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="14" result="effect1_foregroundBlur_228_111" />
    </filter>
    <filter id="filter3_if_228_111" x="36.5" y="38" width="135.293" height="138.293" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dx="-11" dy="18" />
      <feGaussianBlur stdDeviation="21.5" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" />
      <feBlend mode="normal" in2="shape" result="effect1_innerShadow_228_111" />
      <feGaussianBlur stdDeviation="7.5" result="effect2_foregroundBlur_228_111" />
    </filter>
    <filter id="filter4_if_228_111" x="1010" y="43.5" width="140.29" height="142.293" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dx="-11" dy="18" />
      <feGaussianBlur stdDeviation="25.5" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" />
      <feBlend mode="normal" in2="shape" result="effect1_innerShadow_228_111" />
      <feGaussianBlur stdDeviation="8" result="effect2_foregroundBlur_228_111" />
    </filter>
    <filter id="filter5_f_228_111" x="889" y="70" width="431" height="556" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="63" result="effect1_foregroundBlur_228_111" />
    </filter>
    <filter id="filter6_if_228_111" x="946.498" y="758.498" width="233.005" height="158.005" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dy="33" />
      <feGaussianBlur stdDeviation="3" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.53 0" />
      <feBlend mode="normal" in2="shape" result="effect1_innerShadow_228_111" />
      <feGaussianBlur stdDeviation="15" result="effect2_foregroundBlur_228_111" />
    </filter>
    <filter id="filter7_df_228_111" x="988.5" y="708.5" width="182.29" height="183.293" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dx="-11" dy="-32" />
      <feGaussianBlur stdDeviation="19.5" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" />
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_228_111" />
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_228_111" result="shape" />
      <feGaussianBlur stdDeviation="4" result="effect2_foregroundBlur_228_111" />
    </filter>
    <filter id="filter8_if_228_111" x="3.79004" y="769.498" width="233.005" height="158.005" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dy="33" />
      <feGaussianBlur stdDeviation="3" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.53 0" />
      <feBlend mode="normal" in2="shape" result="effect1_innerShadow_228_111" />
      <feGaussianBlur stdDeviation="15" result="effect2_foregroundBlur_228_111" />
    </filter>
    <filter id="filter9_df_228_111" x="-9.5" y="719.5" width="182.293" height="183.293" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
      <feOffset dx="-11" dy="-32" />
      <feGaussianBlur stdDeviation="19.5" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" />
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_228_111" />
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_228_111" result="shape" />
      <feGaussianBlur stdDeviation="4" result="effect2_foregroundBlur_228_111" />
    </filter>
  </defs>
</svg>
