<div class="remote">
  <div class="content">
    <button class="power" (mousedown)="power()">
      <svg width="20" viewBox="0 0 100 122" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="72" r="42.5" stroke="white" stroke-width="15" />
        <path d="M50 8V72.34" stroke="white" stroke-width="15" stroke-linecap="round" />
      </svg>
    </button>
    <button class="last" (mousedown)="last()">
      <svg height="10" viewBox="0 0 40 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 17.5L40 35V0L16 17.5Z" fill="white" />
        <path d="M0 17.5L24 35V0L0 17.5Z" fill="white" />
      </svg>
    </button>
    <button class="pause" (mousedown)="pause()">
      <svg height="10" viewBox="0 0 51 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 14.7826L0 28.639V0.926147L24 14.7826Z" fill="white" />
        <rect x="30.9326" width="6.6557" height="30.7826" fill="white" />
        <rect x="43.4121" width="6.6557" height="30.7826" fill="white" />
      </svg>
    </button>
    <button class="next" (mousedown)="next()">
      <svg height="10" viewBox="0 0 40 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 17.5L0 35V0L24 17.5Z" fill="white" />
        <path d="M40 17.5L16 35V0L40 17.5Z" fill="white" />
      </svg>
    </button>
  </div>
</div>
