.panel {
  position: absolute;
  top: 5.7%;
  right: 4.3%;
  height: 83.4%;
  width: 19.15%;
  background-color: #969b9e;
  border-radius: 1.44vh;
  border: 0.96vh solid #484943;
  padding: 1.2%;

  .top {
    height: 90%;
  }
}
