<div class="panel">
  <div class="top">
    <app-panel-screen></app-panel-screen>
    <div class="controls">
      <button class="last" (click)="last()">
        <svg width="20" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.255 0.780029L24.3491 21.7275H0.160995L12.255 0.780029Z" fill="black" />
        </svg>
      </button>
      <button class="next" (click)="next()">
        <svg width="20" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.965 21.9301L25.059 0.982553H0.870955L12.965 21.9301Z" fill="black" />
        </svg>
      </button>
    </div>
  </div>
  <app-remote></app-remote>
</div>
